<!-- {{products|json}} -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let product of products" class="col">
      <div class="card h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <app-product-images-list [product]="product" [admin]="true" (deleteImage)="deleteImage($event)" (uploadImage)="uploadImage($event)"></app-product-images-list>
        <div class="card-body">
          <h5 class="card-title"><input [(ngModel)]="product.name" type="text" class="form-control"></h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><input [(ngModel)]="product.price" type="number" class="form-control"></small>
        </div>
        <div class="row my-4">
            <div class="col-6 text-center">
            <button  (click)="updateProduct(product)" type="button" class="btn btn-primary">Save</button>
        </div>
        <div class="col-6 text-center">
            <button  (click)="deleteProduct(product)" type="button" class="btn btn-primary">Delete</button>
        </div>
        </div>
      </div>
     
    </div>
</div>

<!-- <div *ngFor="let aru of products" class="row">
    <div  class="col-3">
        <input [(ngModel)]="aru.name" type="text" class="form-control">
       
    </div>
    <div  class="col-2">
        <input [(ngModel)]="aru.price" type="number" class="form-control">       
    </div>
    <div *ngFor="let kep of aru.imagesUrl" class="col">
        <a [href]="kep">
        <img  [src]="kep" class="img-thumbnail" alt="termék kép" style="width:100px; height:100px">
        </a>
        <button  (click)="deleteImage(aru,kep)" type="button" class="btn btn-primary my-3">Del</button>
    </div>
    <div class="col-2">
        <button  (click)="updateProduct(aru)" type="button" class="btn btn-primary my-3">Save</button>
        <button  (click)="deleteProduct(aru)" type="button" class="btn btn-primary my-3">Delete</button>
    </div>
     

</div> -->
